

.layout__crime-app {
  .layout__results {
    position:fixed;
    top:0;
    left:300px;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
  }

  .layout__filters {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:300px;
    margin:0;
    overflow:auto;
  }

}

.my-logo {
  color:white;
  flex:0 0 250px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
}

.view-src-link {
  position:fixed;
  line-height:40px;
  background:#eee;
  right:10px;
  bottom:10px;
  text-decoration: none;
  padding:0 20px;
  border-radius: 3px;
  color:#08c;
  display:none;
}

.layout__crime-app {

}
