@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import "~normalize.css/normalize.css";
@import "~searchkit/src/components/search/hits/styles/index.scss";

html {
  font-family:"Open Sans";
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.layout {

  &__search-box {
    position:absolute;
    top:0;
    left:230px;
    right:0;
    padding:10px;
    border-bottom:1px solid darken(#fafafa, 10);
    display:flex;

    .selected-filters {
      border-right:1px solid darken(#fafafa, 10);
    }

    .search-box {
    }
  }

  &__filters {
    position:absolute;
    top:0px;
    left:0;
    bottom:0;
    width:230px;
    padding:20px 20px 0 20px;
    background:#fafafa;
    border-right:1px solid darken(#fafafa,10);
    overflow:auto;

    .hierarchical-menu-list {
      margin-bottom:10px;
    }
  }

  &__results-info {
    position:absolute;
    top:60px;
    height:60px;
    left:230px;
    right:0;
    line-height:60px;
    padding:0 20px;
    display:flex;
    justify-content: space-between;

    .hits-stats {
      flex:auto;
      align-self:flex-start;
    }

    .sorting-selector {
      flex:auto;
      text-align:right;
      padding:20px 0;
    }
  }


  &__results {
    position:absolute;
    left:230px;
    right:0;
    top:110px;
    bottom:0;
    padding:0 20px;
    overflow:auto;
  }
}

.layout__filters__heading {
  margin-bottom:30px;
  margin-top:20px;
}

.hits-hit {

  a {
    text-decoration:none;
    color:#08c;
  }

  &__poster {
    max-width:180px;
    max-height:280px;
    margin-bottom:10px;
  }

  &__title {
    line-height:20px;
    text-align:center;
    font-size:12px;
  }

}

.view-src-link {
  position:fixed;
  line-height:40px;
  background:#eee;
  right:10px;
  bottom:10px;
  text-decoration: none;
  padding:0 20px;
  border-radius: 3px;
  color:#08c;
}
