<html>

<head>
	<title>Sample App</title>
  <link href="/static/styles.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id='root'>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzo8nUWQF1L1QwmS6wT7WlpfEBT63-34c">
	</script>

	<script src="/static/bundle.js"></script>

</body>

</html>
